.checkoutproduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutproduct__info {
  padding-left: 20px;
}

.checkoutproduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutproduct__rating {
  display: flex;
}

.checkoutproduct__ratingIcon {
  color: orange;
}

.checkoutproduct__image {
  object-fit: contain;
  height: 180px;
  width: 180px;
}
